

* {
  font-family: Helvetica, sans-serif
}

body{
  padding: 60px;  
}

input {
  font-size: 1.2rem ;
  color: grey;
  width: 100%;
}

img{
  width: 200px;
  border: 3px solid orange;
  padding: 5px;
  border-radius: 5px;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}


.card {
  align-content:  center;
  border: 1px solid grey; 
  border-radius: 6px;
  margin: 10px;
  text-align: center;
}

.card p {
  padding: 5px;
}


